<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faq</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('templates/nav') %>
    <main class="Faq">
        <h1>Frequently Asked Questions!</h1>
        <h2>How do I make my own review?</h2>
        <h2>How do I see reviews?</h2>
    </main>
</body>
</html>