<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/">Homepage</a>
            <a href="rate">Rate WCAG</a>
            <a href="faq">FAQ</a>
        </nav>
    </header>
</body>
</html>