<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('templates/nav') %>
    <main class="container">
        <section class="login-card">
            <form action="/login" method="POST">
                <h1>Logg inn</h1>
                    <input name="username" placeholder="Brukernavn" required>
                    <input type="password" name="password" placeholder="Passord" required>
                    <button type="submit">Logg inn</button>
                <p>Hvis du ikke har en bruker</p><a href="/signup">signup</a>
            </form>
        </section>
    </main>
</body>
</html>