<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('templates/nav') %>
    <main class="profile-container">
        <section class="profile-card">
            <h1>Profil</h1>

            <div class="profil-info">
                <div class="info-group">
                    <label for="username">Brukernavn</label>
                    <p id="username"><strong><%= user.username %></strong></p>
                </div>
            </div>


                <form action="/delete-user" method="POST" onsubmit="return confirm('Er du sikker at du vil slette kontoen din? Dette kan IKKE angres.')">
                    <button type="submit" class="profileDelete">Slett min bruker</button>
                </form>
                <p class="back-link"><a href="/">Tilbake til forsiden</a></p>
        </section>
    </main>
</body>
</html>