<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('templates/nav') %>
    <div class="container">
        <h1>Profil</h1>
        <p><strong>Brukernavn</strong> <%= user.username %></p>
        <form action="/delete-user" method="POST" onsubmit="return confirm('Er du sikker at du vill slette kontoen din? Dette kan IKKE bli gjort om.')">
            <button class="buttonDelete">Slett min bruker</button>
        </form>
    </div>
</body>
</html>