<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vurder nettsider</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('templates/nav') %>
    <main class="container">
        <h1>Vurder en nettside - WCAG</h1>
        <p>Fyll ut skjemaet under for å vurdere UU til nettsiden.</p>
        <section class="rate-card">
            <form action="/rate" method="POST" aria-label="Vurder nettsider">
                <label for="sitename">Nettsidens navn</label>
                <input type="text" id="sitename" name="sitename" required>

                <label for="url">Nettsidens adresse (URL)</label>
                <input type="text" name="url" id="url" required>

                <!-- Rating -->
                <label for="rating">WCAG vurdering</label>
                <select name="rating" id="rating">
                    <option value="">Velg vurderingen</option>
                    <option value="1">1 - Svært dårlig</option>
                    <option value="2">2 - Dårlig</option>
                    <option value="3">3 - OK</option>
                    <option value="4">4 - Bra</option>
                    <option value="5">5 - Svært bra</option>
                    <option value="6">6 - Glimrende</option>
                </select>

                 <!-- Comments -->
                <label for="comment">Kommentar</label>
                <textarea name="comment" id="comment" rows="5"></textarea>

                <button class="buttonRate" type="submit">Send vurderingen</button>

            </form> 
        </section>
    </main>
</body>
</html>