<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('templates/nav') %>
    <main>
        <h1>Registrer bruker</h1>

        <form action="/signup" method="POST">

            <input name="username" required>

            <input type="password" name="password" required>

            <input type="password" name="confirm" required>

            <button type="submit">Registrer</button>

        </form>

        <a href="/login">Har du bruker?</a>
    </main>
</body>
</html>