<header>
    <nav class="navbar">
        <a href="/">Hjemmeside</a>
        <a href="rate">Vurder WCAG</a>
        <% if (user) { %>
            <!-- Logged in -->
            <a href="profile">Profil</a>
            <a href="logout">Logg ut</a>
        <% } else { %>
            <!-- Logged ou t -->
            <a href="signup">Registrer</a>
            <a href="login">Login</a>
        <% } %>
        <% if (role === "admin") { %>
        <a href="/admin/reports">Admin Dashboard</a>
    <% } %>
    </nav>
</header>
