    <header>
        <nav class="navbar">
            <a href="/">Homepage</a>
            <a href="rate">Rate WCAG</a>
            <a href="faq">FAQ</a>
            <a href="signup" class="right">Signup</a>
            <a href="login" class="right">Login</a>
        </nav>
    </header>