<header>
    <nav class="navbar">
        <a href="/">Alle vurderinger</a>
        <a href="rate">Vurder WCAG</a>
        <a href="faq">FAQ</a>
        <% if (user) { %>
            <!-- Logged in -->
            <a href="profile">Profil</a>
            <a href="logout">Logg ut</a>
        <% } else { %>
            <!-- Logged ou t -->
            <a href="signup">Signup</a>
            <a href="login">Login</a>
        <% } %>
    </nav>
</header>