body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f5f8;
}

.navbar {
    background: #111827;
    padding: 21px;
}

.navbar a {
    color: #bac0ca;
    margin-right: 13px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.navbar a:hover {
    color: #ffffff;
}

.buttonDelete {
    max-width: 100px;
}

/* index.css */

.explanation {
    margin: 30px;
    margin-bottom: 65px;
}

.cardReviews {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.cardReviews h1 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 2em;
}

.cardReviews a {
    color: rgb(68, 68, 255);
    text-decoration: none;
}

.review-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 380px;
    max-height: 450px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-card:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 20px rgba(0,0,0,0.2);
}

.review-card h3 {
    margin: 0;
    margin-bottom: 4px;
    font-size: 1.4em;
}

.review-card p  {
    margin: 5px 0;
    overflow: auto;
    max-height: 90px;
    margin-bottom: 12px;
}

.WCAG {
    font-weight: bold;
}

.review-card small {
    color: rgb(94, 94, 94);
}

.buttonDelete {
    margin-top: 20px;
    padding: 12px 5px;
    border: none;
    border-radius: 6px;
    background-color: rgb(220, 53, 69);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.buttonDelete:hover {
    background-color: rgb(200, 35, 50);
}

/* Index votin g*/

.vote-group {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.vote-button {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

/* Upvote */
.upVote {
    background-color: #2e7d32;
    color: white;
}

/* Downvote */
.downVote {
    background-color: #c62828;
    color: white;
}

/* Hover */
.vote-button:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

/* WHen pressed button gets smaller */
.vote-button:active {
    transform: scale(0.97);
}

.vote-text {
    font-size: 14px;
}

.Whyus{
    margin-top: 180px;
    padding: 30px;
    background-color: #1a2438;
    color: rgb(241, 241, 241);
}

/* sort button */
.sort-container button{
    margin: 30px;
    background-color: #3535ff;
    color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Report Review */

.form-group {
    margin-bottom: 5px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #111827;
    font-size: 13px;
}

.form-button {
    padding: 8px 14px;
    max-width: 50%;
    border: none;
    border-radius: 4px;
    background-color: rgb(222, 0, 0);
    color: white;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.form-button:hover {
    background-color: #bb0000;
}


/* Rate wcag under */

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.rate-card {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-weight: bold;
}

input, select, textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buttonRate {
    margin-top: 20px;
    padding: 12px;
    background: #2961db;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.buttonRate:hover {
    background: #1e4cad;
}

/* Profile */

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(80vh - 130px);
    padding: 20px;
}

.profile-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 500px;
}

.profile-info {
    margin: 30px 0;
}

.info-group {
    margin-bottom: 20px;
}

.info-group label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.info-group p {
    margin: 0;
    padding: 12px;
    background-color: #f8f9fa;
    border-radius: 6px;
    border: 1px solid #e1e1e1;
    font-size: 18px;
}

.back-link {
    margin-top: 20px;
    text-align: center;
}

.back-link a {
    color: #2961db;
    text-decoration: none;
}

.back-link a:hover {
    text-decoration: underline;
}

.profileDelete {
    padding: 12px 5px;
    width: 100%;
    border: none;
    border-radius: 6px;
    background-color: rgb(220, 53, 69);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.profileDelete:hover {
    background-color: rgb(200, 35, 50);
}

.profileDelete:active {
    transform: scale(0.98);
}

/* faq */

/* FAQ */

.faq-container {
    max-width: 700px;
    margin: 60px auto;
    padding: 20px;
}

.faq-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.faq-item {
    margin-bottom: 15px;
}

.faq-question {
    width: 100%;
    text-align: left;
    padding: 15px;
    font-size: 16px;
    border: none;
    background: #111827;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

/* .faq-question button {
    transition: transform 0.3s ease-in-out;
}

.fag-question button:hover {
    transform: scale(1.01);
} */

.faq-answer {
    max-height: 0;
    overflow: hidden;
    background: white;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: max-height 0.3s ease;
    padding: 0 15px;
}

.faq-answer.open {
    max-height: 150px;
    padding: 15px;
}

/* LOgin */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(80vh - 130px);
    padding: 20px;
    margin: 0 auto;
}

.login-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-card:hover {
    transform: scale(1.01);
    box-shadow: 0 12px 20px rgba(0,0,0,0.2);
}

.login-card form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-card h1 {
    margin: 0 0 20px 0;
    font-size: 2em;
    text-align: center;
    color: #111827;
}

/* Label style */
.login-card label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 0;
    font-weight: bold;
    color: #111827;
}

/* Input stylin*/
.login-card input {
    padding: 12px;
    margin-top: 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.2s ease;
}

.login-card input:focus {
    outline: none;
    border-color: #2961db;
    box-shadow: 0 0 0 2px rgba(41, 97, 219, 0.1);
}

.login-card input::placeholder {
    color: #999;
}

.login-card button {
    margin-top: 10px;
    padding: 14px;
    background: #2961db;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.login-card button:hover {
    background: #1e4cad;
}

.login-card button:active {
    transform: scale(0.98);
}

/* Link styling */
.login-card p {
    text-align: center;
    margin: 10px 0 0 0;
    color: #666;
    font-size: 15px;
}

.login-card p a {
    color: rgb(82, 82, 255);
    text-decoration: none;
    margin-left: 5px;
}

.login-card p a:hover {
    text-decoration: underline;
}

/* Sign up */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(80vh - 130px);
    padding: 20px;
    margin: 0 auto;
}

.signup-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.signup-card:hover {
    transform: scale(1.01);
    box-shadow: 0 12px 20px rgba(0,0,0,0.2);
}

.signup-card form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup-card h1 {
    margin: 0 0 20px 0;
    font-size: 2em;
    text-align: center;
    color: #111827;
}

/* Label style */
.signup-card label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 0;
    font-weight: bold;
    color: #111827;
}

/* Input styling*/
.signup-card input {
    padding: 12px;
    margin-top: 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.2s ease;
}

.signup-card input:focus {
    outline: none;
    border-color: #2961db;
    box-shadow: 0 0 0 2px rgba(41, 97, 219, 0.1);
}

.signup-card input::placeholder {
    color: #999;
}

.signup-card button {
    margin-top: 10px;
    padding: 14px;
    background: #2961db;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.signup-card button:hover {
    background: #1e4cad;
}

.signup-card button:active {
    transform: scale(0.98);
}

/* Link styling */
.signup-card p {
    text-align: center;
    margin: 10px 0 0 0;
    color: #666;
    font-size: 15px;
}

.signup-card p a {
    color: rgb(82, 82, 255);
    text-decoration: none;
    margin-left: 5px;
}

.signup-card p a:hover {
    text-decoration: underline;
}