body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f6f8;
}

.navbar {
    background: #111827;
    padding: 19px;
}

.navbar a {
    color: #bac0ca;
    margin-right: 13px;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}

.navbar a:hover {
    color: #ffffff;
}

.buttonDelete {
    max-width: 100px;
}

/* index.css */

.explanation {
    margin: 30px;
}

.cardReviews {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.cardReviews h1 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 2em;
}

.cardReviews a {
    color: rgb(45, 45, 255);
    text-decoration: none;
}

.review-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
    max-height: 280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-card:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 20px rgba(0,0,0,0.2);
}

.review-card h3 {
    margin: 0;
    font-size: 1.4em;
}

.review-card p {
    margin: 5px 0;
    overflow: auto;
    max-height: 70px;
}

.review-card small {
    color: rgb(94, 94, 94);
}

.buttonDelete {
    margin-top: 20px;
    padding: 12px 5px;
    border: none;
    border-radius: 6px;
    background-color: rgb(220, 53, 69);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.buttonDelete:hover {
    background-color: rgb(200, 35, 50);
}

/* Rate wcag under */

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.rate-card {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-weight: bold;
}

input, select, textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buttonRate {
    margin-top: 20px;
    padding: 12px;
    background: #2961db;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.buttonRate:hover {
    background: #1e4cad;
}

/* faq */

.Faq {
    margin-top: 100px;
    text-align: center;
}

.Faq h1 {
    font-size: 35px;
}

.Faq h2{
    font-weight: 300;
}