body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f6f8;
}

.navbar {
    background: #1f2937;
    padding: 19px;
}

.navbar a {
    color: white;
    margin-right: 13px;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}

.buttonDelete {
    max-width: 100px;
}

/* index */

.explanation {
    margin: 30px;
}

.explanation a {
    color: rgb(45, 45, 255);
}

/* Rate wcag under */

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.rate-card {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-weight: bold;
}

input, select, textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buttonRate {
    margin-top: 20px;
    padding: 12px;
    background: #ab1cd6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.buttonRate:hover {
    background: #8614a8;
}

/* faq */

.Faq {
    margin-top: 100px;
    text-align: center;
}

.Faq h1 {
    font-size: 35px;
}

.Faq h2{
    font-weight: 300;
}